
<form class="example-form">
  <h2>Create New Card</h2>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput  value="">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Discription</mat-label>
    <input matInput placeholder="Ex. Pizza" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Img</mat-label>
    <input matInput placeholder="Ex. Pizza" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Link Video</mat-label>
    <input matInput placeholder="Ex. Pizza" value="">
  </mat-form-field>
  <button mat-raised-button color="primary" class="button">Create Card</button>
</form>
