<form class="form-home" [formGroup]="form" novalidate>
  <h3>CREATE HEW CARD</h3>
  <label>Title</label>
  <input type="text" formControlName="title" />
  <div>
    <span
      class="alert alert-danger"
      *ngIf="form.controls['title'].invalid && form.controls['title'].touched"
      >Please enter a title</span
    >
    <span *ngIf="form.controls['title'].errors?.['lengthShortError']"
      >The title is too short</span
    >
    <span *ngIf="form.controls['title'].errors?.['lengthLongError']"
      >The title is too long</span
    >
  </div>
  <label>Description</label>
  <input type="text" placeholder="optional" formControlName="description" />
  <div>
    <span *ngIf="form.controls['title'].errors?.['descriptionLongError']"
      >The description is too long</span
    >
  </div>
  <label>img</label>
  <input type="text" formControlName="img" />
  <div>
    <span *ngIf="form.controls['img'].invalid && form.controls['img'].touched"
      >Please enter a link to the image</span
    >
    <span
      *ngIf="form.controls['img'].errors?.['imgError'] && form.controls['img'].touched"
      >The image link is invalid</span
    >
  </div>
  <label>Link video</label>
  <input type="text" formControlName="linkVideo" />
  <div>
    <span
      *ngIf="
        form.controls['linkVideo'].invalid && form.controls['linkVideo'].touched
      "
      >Please enter a link to the video</span
    >
    <span
      *ngIf="form.controls['linkVideo'].errors?.['videoError'] && form.controls['linkVideo'].touched"
      >The video link is invalid</span
    >
  </div>
  <label>Date</label>
  <input type="date" formControlName="date" />
  <div>
    <span *ngIf="form.controls['date'].invalid && form.controls['date'].touched"
      >PPlease enter a creation date</span
    >
    <span
      *ngIf="form.controls['date'].errors?.['dateError'] && form.controls['date'].touched"
      >The date is invalid</span
    >
  </div>
  <button type="submit" [disabled]="form.invalid">Create card</button>
</form>
