@import 'src/app/variablesSCSS.scss';

.form-home {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  height: 60vh;
  background-color: $headerColor;
  margin-top: 5vh;
  margin-left: 30vw;
  label{
    margin-right: 8vw;
  }
  input{
    background-color: $sortingColor;
    width: 20vw;
    border: none;
  }
  button {
    margin-top: 2vh;
    background-color: $logoColor;
    border-radius: .5vw;
  }
  input.ng-touched.ng-invalid {
    border: solid red 2px;
  }
  input.ng-touched.ng-valid {
    border: solid green 2px;
  }
}
