@import '../../variablesSCSS.scss';

.search-input{
  width: 15vw;
  height: 3vw;
}
.search-button {
  margin-top: .5vw;
  width: 7vw;
  height: 3.5vw;
  border-radius: .5vw;
  background-color: $logoColor;
}
