<div class="wrapper-card">
  <img src="{{ item.snippet.thumbnails.medium.url }}" alt="caption" />
  <div class="likes">
    <img src="../../assets/svg/viewed.svg" alt="viewed" />
    <p>1000</p>
    <img src="../../assets/svg/liked.svg" alt="liked" />
    <p>680</p>
    <img src="../../assets/svg/dislike.svg" alt="dislike" />
    <p>320</p>
    <img src="../../assets/svg/content-copy.svg" alt="" />
    <p>250</p>
  </div>
  <h3>Kuji Podcast #20</h3>
  <button class="button-like">more...</button>
  <ng-content></ng-content>
</div>
