<div class="wrapper">
  <div class="wrapper-header">
    <button class="button-header">
      <img src="../../assets/svg/logo.svg" alt="logo" />
    </button>
    <app-search></app-search>
    <button (click)="unloadSorting = !unloadSorting" class="setting">
      <img src="../../assets/svg/Vector.svg" alt="Vector" />
    </button>
    <div class="user-name">
      <h3>user name</h3>
      <img src="../../assets/svg/login.svg" alt="login" />
    </div>
  </div>

  <app-sorting *ngIf="unloadSorting"></app-sorting>
</div>
