@import 'src/app/variablesSCSS.scss';

.search-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
}

.band {
  width: 100%;
  height: 1vw;
  margin-top: .5vw;
  background-color: aqua;
}
.button-like {
  background-color: $logoColor;
  border-radius: .5vw;
}
